.form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 371px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 36px;
}
input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
input::placeholder {
  color: #808080; /* Цвет текста placeholder */
}
input:hover {
  border: 1px solid #000;
}
input:focus {
  border: 1px solid #4e75ff;
  outline: none; /* Убираем подсветку при фокусе */
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border: none;
}
button:hover {
  background-color: #6c8cff;
}
.gallery {
  width: 1128px;
  display: flex;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
}
img {
  width: 360px;
  height: 152px;
}
.img-data-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.img-data-list {
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}
.gallery-item {
  outline: 1px solid #808080;
}
.likes p {
  margin-top: 8px;
  margin-bottom: 8px;
}
.views p {
  margin-top: 8px;
  margin-bottom: 8px;
}
.comments p {
  margin-top: 8px;
  margin-bottom: 8px;
}
.downloads p {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* CSS */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none; /* Приховуємо завантажувач за замовчуванням */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
  position: fixed; /* Позиционируем элемент относительно окна браузера */
  top: 30%; /* Положение от верхнего края */
  left: 45%; /* Положение от левого края */
  transform: translate(
    -50%,
    -50%
  ); /* Смещаем элемент на половину его ширины и высоты назад, чтобы центр элемента совпадал с центром экрана */
}
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
